@font-face {
  font-family: "WavvePADO";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: WavvePADO;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.bgImg {
  background-color: #fff;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;

  img {
    width: 27em;
    max-width: 27em;
    height: auto;
    margin-bottom: 4em;
  }

  button {
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    height: 5vw;
    max-height: 5em;
    font-size: 2vw;
    text-align: center;
  }

  button:hover {
    color: #979797;
  }
}
