@font-face {
  font-family: "WavvePADO";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: WavvePADO;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.start-page {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.bgImg {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;

  .bg-img {
    width: 27vw;
    height: auto;
    margin-bottom: 8vh;
  }

  .start-btn {
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    font-size: 2.7vw;
    text-align: center;
  }

  .start-btn:hover {
    color: #979797;
  }
}
