.body-page {
  margin: 0;
  padding: 0;
  background-image: url("../../IMG/QuestionScreenImg.png");
  background-size: 100% 100%;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .question-title-container {
    display: inline-block;
    padding: 1vh 2vw;
    border-radius: 2vh;
    border: 0.38vh solid black;
    margin-bottom: 6vh;
    width: fit-content;

    .question-no {
      font-size: 3.7vw;
      margin-top: 4vh;
      margin-bottom: 4vh;
    }

    .question-title {
      font-size: 3.3vw;
      margin-bottom: 4vh;
      margin-left: 3vw;
      margin-right: 3vw;
    }
  }

  .answer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .answer-content button {
      font-size: 1.5vw;
      width: 37vw;
      height: 10vh;
      margin-top: 1vh;
      margin-bottom: 3.7vh;

      cursor: pointer;
      border-radius: 2vh;
      border: 0.3vh solid gray;

      background-color: #fff;
    }
  }
}
