@font-face {
  font-family: "NPSfontBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  font-family: "NPSfontBold";
}

.header p {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 130px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  transform: translateX(-250px);
  max-width: 540px;
}

.triangle {
  width: 190px;
  height: 0;
  border-bottom: 100px solid lavender;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.trapezoid {
  width: 305px;
  height: 0;
  border-bottom: 100px solid lavenderblush;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.largeTrapezoid {
  width: 430px;
  height: 0;
  border-bottom: 100px solid linen;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
}

.text {
  font-size: 20px;
}

.top {
  top: 0;
  position: absolute;
  top: 35%;
  left: 55%;
  white-space: nowrap;
}

.middle {
  position: absolute;
  top: 51.5%;
  left: 55%;
  white-space: nowrap;
}

.base {
  position: absolute;
  top: 70%;
  left: 55%;
  white-space: nowrap;
}

.information {
  display: flex;
  justify-content: center;
  gap: 300px;
  text-align: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

.img1,
.img2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
}

.img1 {
  background-color: lightblue;
}

.img2 {
  background-color: lightgrey;
}

.imageWithText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title1,
.title2 {
  margin-top: 20px;
  font-size: 20px;
}

.content {
  margin-top: 20px;
  width: 370px;
  word-break: break-all;
  overflow-wrap: break-word;
}

.importance {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 215px;
}

.progressBarContainer {
  position: relative;
  width: 90%;
  background-color: #e0e0de;
  border-radius: 10px;
}

.progressBar {
  position: relative;
  margin-top: 35px;
  margin-bottom: 100px;
  height: 30px;
  background-color: #bfa493;
  width: 0;
  border-radius: 10px;
  transition: width 0.5s ease-in-out;
}

.progressText {
  color: black;
  font-size: 20px;
  position: absolute;
  left: 0;
  width: 100%;
  margin-left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.resulttext {
  font-size: 30px;
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share {
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 0 10px;
}

.shareimg {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 100px;
}

.instagram img,
.kakao img,
.x img {
  width: 70px;
  height: 70px;
  border-radius: 15px;
  margin-right: 10px;
}
