.body-no-scroll {
  overflow: hidden;
}

.result-body-page {
  margin: 0;
  padding: 0;
}

.result-screen {
  display: flex;
  flex-direction: column;
  align-items: center;

  header,
  footer {
    width: 100%;

    .header-img,
    .footer-img {
      display: block;
      width: 100%;
      height: 13vh;
    }
  }

  footer {
    position: relative;

    .home-button {
      position: absolute;
      top: 6%;
      left: 91%;
      background: none;
      border: none;
      cursor: pointer;

      .home-icon {
        width: 5vw;
        height: 5vw;
        padding: 1vw;
        background-color: white;
        border-radius: 1.5vw;
      }
    }
  }

  main {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

    // 해당결과 그림
    .header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .keywords,
    .main-picture {
      flex-basis: 48%;
    }

    .keywords {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      padding-left: 2vw;
      font-size: 1.5vw;
      line-height: 5.7vh;
    }

    .main-picture {
      width: 60%;
      margin-top: 7vh;
      margin-bottom: 10vh;
    }

    // 추천향수정보
    .perfumes {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;

      .perfume {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        margin: 5vw;

        .perfume-img {
          width: 80%;
          margin-bottom: 2.7vw;
        }

        .perfume-title,
        .perfume-detail {
          word-break: keep-all;
          text-align: center;
          margin-bottom: 1vw;
        }

        .perfume-title {
          font-size: 2vw;
          font-weight: bold;
        }

        .perfume-detail {
          width: 80%;
          font-size: 1.2vw;
          margin-bottom: 4vw;
        }
      }
    }

    // 그래프
    .chart-container {
      // margin-bottom: 10vw;
      // margin-left: 5vw;
      display: flex;
      align-items: center;
      border: 0.37vw solid black;
      border-radius: 1.7vw;
      // margin-top: 3.5vh;
      margin-bottom: 7vh;

      .blank-container {
        margin-top: 5vh;
        margin-bottom: 5vh;
        margin-left: 5vw;
        margin-right: 5vw;
        display: flex;
        align-items: center;

        .chart {
          width: 17vw;
          height: 17vw;
          margin-right: 5vw;
        }

        .text-container {
          text-align: center;

          .chart-text-perfume,
          .chart-text-percent {
            font-weight: bold;
          }

          .chart-text-perfume {
            font-size: 2vw;
          }

          .chart-text-percent {
            font-size: 1.6vw;
          }

          hr {
            width: 15vw;
            border-radius: 1vw;
            border: 0.175vw solid black;
          }
        }
      }
    }

    // 모달창 버튼
    .button-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1.7vw;
      width: 100%;
      margin-top: 3vh;

      .popup-button-image {
        width: 12vw;
        margin-bottom: 0.875vw;
      }

      .popup-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex: 1 1 auto;
        padding: 3vw 2vw;
        margin-bottom: 6vh;

        font-size: 1.3vw;
        color: black;
        border: none;
        border-radius: 0.7vw;
        background-color: white;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #b5b4b4;
        }
      }
    }
  } // main
} // result-screen

// 모달창
.popup-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  max-height: 85vh;
  overflow: auto;
  padding: 1vw;
  background-color: white;
  border-radius: 0.8vw;
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.3);

  .popup-content-container {
    // max-height: 100%;

    .popup-content {
      text-align: center;

      .popup-title {
        font-size: 2.5vw;
        margin-bottom: 7vh;
      }

      .popup-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2.5vh 0;

        .popup-item-image {
          width: 9vw;
          margin-bottom: 0.7vw;
        }

        .item-title-content {
          font-size: 1.7vw;
          margin-bottom: 0.5vh;
        }

        .item-content {
          width: 40%;
          font-size: 1.2vw;
          word-break: keep-all;
          margin-bottom: 5vh;
        }
      }
    }

    .close-button {
      margin-top: 0.5vh;
      font-size: 1.3vw;
      padding: 0.875vw 3.7vw;
      background-color: #333;
      color: white;
      border: none;
      border-radius: 0.5vw;
      cursor: pointer;
    }
  }
}
