.result-screen {
  display: flex;
  flex-direction: column;
  align-items: center;

  header,
  footer {
    width: 100%;
  }

  .header-img,
  .footer-img {
    display: block;
    width: 100%;
    height: 8em;
  }

  main {
    width: 70%; // 메인 컨텐츠 너비 조정
    display: flex;
    flex-direction: column;
    align-items: center;

    .keywords {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin: 5em 0; // 헤더 이미지와의 간격 조정
    }

    .main-picture {
      width: 60%;
      margin-top: 3.5em;
      margin-bottom: 7em;
    }

    .perfumes {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;

      .perfume {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%; // 향수 항목의 너비 조정
        margin: 3em; // 향수 항목 간의 간격 조정

        img {
          width: 80%; // 향수 이미지 크기 조정
          margin-bottom: 3em; // 이미지와 제목 간의 간격 조정
        }

        h1,
        p {
          word-break: keep-all;
          text-align: center;
        }

        h1 {
          font-size: 2.5em;
        }

        p {
          width: 80%;
          font-size: 1.19em;
        }

        // 너비가 768px 미만일 경우, 한 줄에 하나의 향수만 표시
        @media (max-width: 768px) {
          width: 90%;
        }
      }
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5em; /* 버튼 간의 간격 조정 */
  width: 100%;
  margin-top: 2em;

  .popup-button-image {
    margin-bottom: 0.875em; // 이미지와 텍스트 사이의 간격
  }

  .popup-button {
    display: flex;
    flex-direction: column; // 자식 요소를 수직으로 정렬
    align-items: center; // 가운데 정렬
    justify-content: center; // 내용을 중앙에 위치
    text-align: center; // 텍스트 중앙 정렬
    flex: 1 1 auto; /* 버튼의 크기를 자동으로 조정 */
    padding: 0.5em 1.5em;

    font-size: 1.2em;
    color: black;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #777;
    }
  }
}

.popup-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 2.3em;
  border-radius: 1em;
  max-width: 500px; /* 모달의 최대 너비 설정 */
  width: 90%; /* 화면 크기에 따라 조정 가능 */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); /* 배경을 어둡게 합니다. */
  backdrop-filter: blur(5px); /* 배경 블러 처리 */
}

.body-no-scroll {
  overflow: hidden;
}

.popup-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .popup-content {
    text-align: center;

    .popup-item {
      margin: 1em 0;

      .popup-item-image {
        max-width: 6.5em;
        height: auto;
      }
    }
  }

  .close-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}
