.result-body-page {
  margin: 0;
  padding: 0;
}

.result-screen {
  display: flex;
  flex-direction: column;
  align-items: center;

  header,
  footer {
    width: 100%;

    .header-img,
    .footer-img {
      display: block;
      width: 100%;
      height: 8em;
    }
  }

  footer {
    position: relative;

    .home-button {
      position: absolute;
      top: 16%;
      left: 91%;
      background: none;
      border: none;
      cursor: pointer;

      .home-icon {
        width: 5em;
        height: 5em;
        padding: 1em;
        background-color: white;
        border-radius: 2em;
      }
    }
  }

  main {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .keywords,
    .main-picture {
      flex-basis: 48%;
    }

    .keywords {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      padding-left: 2em;
      font-size: 1.5em;
      line-height: 3.5em;
    }

    .main-picture {
      width: 60%;
      margin-top: 3.5em;
      margin-bottom: 7em;
    }

    .ratio {
      width: 60%;
      margin-top: 3.5em;
      margin-bottom: 7em;
    }

    .chart-container {
      margin-bottom: 5em;
      margin-left: 5em;
      display: flex;
      align-items: center;
      border: 4px solid black;
      border-radius: 1.7em;
      margin-top: 3.5em;
      margin-bottom: 7em;

      .blank-container {
        margin-top: 3em;
        margin-bottom: 3em;
        margin-left: 5em;
        margin-right: 5em;
        display: flex;
        align-items: center;

        .chart {
          width: 17em;
          height: 17em;
          margin-right: 5em;
        }

        .text-container {
          text-align: center;

          hr {
            width: 15em;
            border: 2px solid black;
          }
        }
      }
    }

    .perfumes {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;

      .perfume {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        margin: 3em;

        img {
          width: 80%;
          margin-bottom: 3em;
        }

        h1,
        p {
          word-break: keep-all;
          text-align: center;
        }

        h1 {
          font-size: 2.5em;
        }

        p {
          width: 80%;
          font-size: 1.19em;
        }
      }
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5em;
  width: 100%;
  margin-top: 2em;

  .popup-button-image {
    margin-bottom: 0.875em;
  }

  .popup-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1 1 auto;
    padding: 0.5em 1.5em;
    margin-bottom: 5em;

    font-size: 1.2em;
    color: black;
    border: none;
    border-radius: 0.5em;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #777;
    }
  }
}

.popup-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-height: 80%;
  overflow: auto; /* 이 부분을 auto로 변경 */
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: darkgrey;
  }

  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
}

// .popup-overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.5);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   z-index: 100;
//   overflow: hidden;
// }

.body-no-scroll {
  overflow: hidden;
}

.popup-content-container {
  max-height: 100%;
  // overflow-y: auto;

  .popup-content {
    text-align: center;

    .popup-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 3em 0;

      .popup-item-image {
        max-width: 7.7em;
        height: auto;
      }

      .item-content {
        width: 80%;
        font-size: 1.2em;
        word-wrap: break-word;
      }
    }
  }

  .close-button {
    margin-top: 0.5em;
    padding: 1em 3em;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
  }
}
