@font-face {
  font-family: "NPSfontBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  font-family: "NPSfontBold";
  box-sizing: border-box;
}

.questionScreen {
  background-color: #e8e4f1;
  position: relative;
  width: 100%;
  height: 100vh;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  overflow: hidden;
}

.progressimg img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 60px auto 70px auto;
}

.questionbox {
  margin-bottom: 10px;
  text-align: center;
}

.ask {
  font-size: 50px;
  margin-bottom: 100px;
}

.answerbtn {
  width: 500px;
  height: 50px;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 50px;
  background-color: #d6d4d4;
  border: none;
}

.answerbtn:hover {
  background-color: #b1a6ca;
}

.selected {
  background-color: #b1a6ca;
}
