@font-face {
  font-family: "NPSfontBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  font-family: "NPSfontBold";
  box-sizing: border-box;
}

.questionScreen {
  padding-top: 20px;
  padding-bottom: 120px;
  background-color: #dee7de;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.progress img {
  width: 110px;
  height: 110px;
  margin-bottom: 70px;
}

.question {
  margin-bottom: 10px;
}

.ask {
  font-size: 65px;
  margin: 0;
  margin-bottom: 20px;
}

.answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.answerbtn {
  width: 470px;
  height: 50px;
  font-size: 15px;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 0;
  background-color: #d6d4d4;
  border: none;
}

.answerbtn:hover {
  background-color: #9ab4a8;
}

.selected {
  background-color: #9ab4a8;
}
